@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	position: relative;
}
header {
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	background: #1c1d1f;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1px 30px;
	z-index: 555;
	.left_side_header {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.ham {
		width: 40px;
		height: 40px;
		background: white;
		display: grid;
		place-items: center;
		border-radius: 50%;
		cursor: pointer;
		margin-right: 30px;
		img {
			width: 80%;
			object-fit: contain;
		}
	}
	.logo {
		width: 90px;
		height: 100%;
		display: grid;
		place-items: center;
		img {
			width: 100%;
			object-fit: contain;
		}
	}
	.right_side_header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		progress {
			color: red;
			height: 40px;
			margin-right: 10px;
			accent-color: rgb(220, 22, 238);
			@media (max-width: 900px) {
				display: none;
			}
		}

		h4 {
			margin-right: 40px;
			color: #fff;
			@media (max-width: 900px) {
				display: none;
			}
		}
	}
	.profile_avatar {
		width: 40px;
		height: 100%;
		display: grid;
		place-items: center;

		img {
			width: 40px;
			height: 40px;
			cursor: pointer;
			border-radius: 50%;
		}
	}
}
.main_container {
	width: 100%;
	height: 100vh;
	margin-top: 60px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
	@media (max-width: 900px) {
		height: 100%;
	}
}

.right_side_holder {
	position: fixed;
	top: 60px;
	left: -100%;
	width: 25%;
	height: calc(100% - 60px);
	background: #fafafa;
	overflow-y: scroll;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	transition: all 0.5s ease;
	@media (max-width: 900px) {
		left: -100%;
		width: 100vw;
		height: calc(100% - 60px);
		overflow-y: scroll;
	}
	.accordion .accordion-item {
		border-bottom: 1px solid #e5e5e5;
		width: 100%;
		margin: 0 auto;
	}
	.heading_holder {
		width: 100%;
		height: 60px;
		background: #000000;
		color: #fff;
		padding: 15px 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: sticky;
		top: 0;
		left: 0;
		z-index: 55;
		h1 {
			font-size: 1.2rem;
			font-weight: 500;
		}
	}
	/* 	.accordion .accordion-item button[aria-expanded='true'] {
		border-bottom: 1px solid #03b5d2;
	} */

	.accordion button {
		position: relative;
		display: block;
		text-align: left;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-around;
		padding-left: 20px;
		width: 100%;
		color: #000000;
		font-size: 1rem;
		font-weight: 500;

		border: none;
		outline: none;
		height: 60px;
		margin: 10px auto;
		background-color: #fafafa;
	}

	.accordion button:hover,
	.accordion button:focus {
		cursor: pointer;
	}

	.accordion button:hover::after,
	.accordion button:focus::after {
		cursor: pointer;
		color: #ffffff;
	}

	.accordion button .accordion-title {
		padding: 0.8em 1.5em 0.8em 0;
		h1 {
			font-size: 1.1rem;
			font-weight: 500;
		}
		p {
			font-size: 0.9rem;
			font-weight: 500;
			color: #525252;
		}
		span {
			font-size: 0.8rem;
		}
	}

	.accordion button .icon {
		display: inline-block;
		position: absolute;
		top: 25px;
		right: 20px;
		width: 22px;
		height: 22px;
	}

	.accordion button .icon::before {
		position: absolute;
		content: '>';
		font-family: 'Poppins', sans-serif;
		top: -10px;
		left: -15px;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		display: grid;
		place-items: center;
		font-weight: 600;
		font-size: 1.5rem;
		transform: rotate(-90deg);
		transition: all 0.5s ease;
		background: #eeeeee;

		&:hover {
			background: #cfcfcf;
			color: red;
		}
	}

	.accordion button[aria-expanded='true'] {
	}
	.accordion button[aria-expanded='true'] .icon::before {
		transform: rotate(90deg);
	}
	.accordion button[aria-expanded='true'] + .accordion-content {
		opacity: 1;
		max-height: fit-content;
		transition: all 200ms ease;
		will-change: opacity, max-height;
		padding: 5px 0px;
		margin-bottom: 5px;
	}
	.accordion .accordion-content {
		opacity: 0;
		max-height: 0;
		overflow: hidden;
		transition: opacity 200ms ease, max-height 200ms ease;
		will-change: opacity, max-height;
		width: 100%;
		margin: 0 auto;
		background-color: #fafafa;

		.item {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex-direction: column;
			padding: 10px 15px;
			box-sizing: border-box;
			transition: all 0.5s ease;
			&:hover {
				background-color: #d3d3d3;
			}
			.container {
				display: block;
				position: relative;
				padding-left: 35px;
				margin-bottom: 5px;
				cursor: pointer;
				font-size: 22px;
				user-select: none;
			}

			/* Hide the browser's default checkbox */
			.container input {
				position: absolute;
				opacity: 0;
				cursor: pointer;
				height: 0;
				width: 0;
			}

			/* Create a custom checkbox */
			.checkmark {
				position: absolute;
				top: 0;
				left: 0;
				height: 20px;
				width: 20px;
				background-color: rgb(168, 168, 168);
			}

			/* On mouse-over, add a grey background color */
			.container:hover input ~ .checkmark {
				background-color: #ccc;
			}

			/* When the checkbox is checked, add a blue background */
			.container input:checked ~ .checkmark {
				background-color: #474747;
			}

			/* Create the checkmark/indicator (hidden when not checked) */
			.checkmark:after {
				content: '';
				position: absolute;
				display: none;
			}

			/* Show the checkmark when checked */
			.container input:checked ~ .checkmark:after {
				display: block;
			}

			/* Style the checkmark/indicator */
			.container .checkmark:after {
				left: 7px;
				top: 3px;
				width: 5px;
				height: 8px;
				border: solid white;
				border-width: 0 3px 3px 0;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			h1 {
				font-size: 0.8rem;
				font-weight: 500;
			}
			p {
				font-size: 0.8rem;
				font-weight: 500;
				margin-left: 40px;
				color: #8f8f8f;
			}
		}
	}
}
.left_side_holder {
	height: 100%;
	padding: 20px;
	transition: all 0.5s ease;
	@media (max-width: 900px) {
		width: 100%;
		padding: 20px 15px 20px 15px;
	}
	p {
		margin: 10px 0;
	}
	.course_banner {
		width: 95%;
		margin: 20px 0;
		img {
			width: 100%;
			height: 100%;
			@media (max-width: 900px) {
				object-fit: contain;
			}
		}
	}
	.control_btn_holder {
		width: 100%;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 700px) {
			height: 100%;
		}
		button {
			outline: none;
			border: solid 1px #000;
			background: none;
			padding: 8px 20px;
			font-size: 1rem;
			font-weight: 500;
			cursor: pointer;
			transition: all 0.5s ease;
			@media (max-width: 700px) {
				font-size: 0.8rem;
				padding: 8px 10px;

				margin-bottom: 10px;
			}
			&:hover {
				background: #000;
				color: rgb(187, 187, 187);
			}
		}
	}
}

.profile_dropDown {
	width: 220px;
	height: 250px;
	background-color: #ffffff;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	position: absolute;
	top: 58px;
	right: 12px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	transition-duration: 0.5s;
	z-index: 555;
	opacity: 0;
	pointer-events: none;
}
.profile_dropDown_item {
	display: flex;
	align-items: center;
	cursor: pointer;
	max-width: 220px;
	width: 100%;
	z-index: 5;
	text-decoration: none !important;
	color: #000;
	border-left: solid 5px transparent;
	font-weight: 500;
}
.profile_dropDown_item:hover {
	border-left-color: rgb(236, 69, 208);
	background-color: #e0e0e0;
	color: rgb(236, 69, 208);
	font-weight: 600;
}
.profile_dropDown_item span {
	margin: 10px;
}
.profile_dropDown_item span img {
	width: 22px;
	object-fit: contain;
}

.tab_section {
	width: 100%;
	height: 50vh;
	.tabcontent {
		padding: 20px 10px;
		@media (max-width: 900px) {
			padding: 10px 0;
		}
		h1 {
			font-size: 1rem;
		}
	}
	.tab {
		overflow: hidden;
		border-bottom: 1px solid rgb(43, 43, 43);
	}

	.tab button {
		background-color: inherit;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px 16px;
		font-size: 1rem;
		font-weight: 600;
		text-transform: capitalize;
		border-bottom: solid 2px #3910db00;
		@media (max-width: 750px) {
			margin-top: 20px;
			font-size: 1rem;
			padding: 14px 6px;
		}
	}

	/* Change background color of buttons on hover */
	.tab button:hover {
		background: #ccc;
	}

	/* Create an active/current tablink class */
	.tab button.active {
		border-bottom: solid 2px #3810db;
	}

	/* Style the tab content */
	.tabcontent {
		display: none;
	}
}

.QA_conatiner {
	width: 100%;
	.title {
		display: flex;
		align-items: center;
		margin-bottom: 30px;
		span {
			color: #6a6f73;
			margin-left: 0.8rem;
			font-weight: 600;
		}
	}
	.QA_section {
		width: 100%;
		button {
			width: 100%;
			height: 40px;
			border: none;
			outline: none;
			font-weight: 600;
			&:hover {
				background-color: #cfcfcf;
			}
		}
		.QA_item {
			width: 90%;
			height: 120px;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			padding: 10px 20px;
			margin-bottom: 20px;
			@media (max-width: 700px) {
				height: 100%;
				flex-direction: column;
				width: 100%;
				padding: 10px 3px;
			}
			.right_sec {
				display: flex;

				.profile {
					img {
						width: 40px;
						object-fit: cover;
						height: 40px;
						border-radius: 50%;
					}
				}
				.comments {
					margin-left: 25px;
					height: 100%;
					height: 100px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					@media (max-width: 700px) {
						height: 100%;
						margin-left: 10px;
					}
					span {
						font-size: 0.7rem;
						i {
							font-weight: 600;
						}
					}
					.comment {
						h2 {
							font-size: 1rem;
							margin-bottom: 10px;
						}
						p {
							font-size: 0.8rem;
						}
					}
				}
			}
			.left_sec {
				display: flex;
				align-items: flex-end;
				flex-direction: column;
				@media (max-width: 700px) {
					flex-direction: row;
					align-items: center;
					justify-content: space-around;
					width: 100%;
				}
				p {
					font-size: 0.9rem;
					font-weight: 600;
					display: flex;
					align-items: center;

					span {
						margin-left: 5px;
						display: grid;
						place-items: center;
						img {
							width: 20px;
						}
					}
				}
			}
		}
	}
}
#QA_hidden {
	display: none;
}
.announcement_conatiner {
	width: 100%;
	.announcement_item {
		width: 100%;
		margin-bottom: 3rem;
		border-bottom: 1px solid rgb(175, 175, 175);
		padding: 20px;
		@media (max-width: 700px) {
			padding: 10px;
		}
		.header {
			display: flex;
			align-items: center;
			margin-bottom: 30px;
			.image {
				padding: 10px;
				display: grid;
				place-items: center;
				img {
					border-radius: 50%;
					width: 55px;
					height: 55px;
				}
			}
			.names {
				span {
					font-size: 0.9rem;
					color: #8f8f8f;
				}
				p {
					font-size: 1rem;
					letter-spacing: 1px;
					color: #3810db;
				}
			}
		}
		.body {
			width: 100%;
			.title {
				margin-bottom: 1.5rem;
				h1 {
					font-size: 1.2rem;
					margin-bottom: 1.6rem;
				}
				p {
					font-size: 1rem;
					width: 80%;
					color: #6a6f73;
					@media (max-width: 700px) {
						width: 100%;
					}
					span {
						font-weight: 600;
					}
				}
			}
			.details {
				margin-bottom: 1.6rem;
				p {
					font-size: 1rem;
					width: 80%;
					color: #6a6f73;
					@media (max-width: 700px) {
						width: 100%;
					}
					span {
						font-weight: 600;
					}
				}
			}
			.body_footer {
				p {
					font-size: 1.1rem;
				}
				margin-bottom: 1.6rem;
			}
		}
		.comment_zone {
			width: 100%;
			.comment_input {
				width: 100%;
				display: flex;
				align-items: center;
				margin-bottom: 30px;
				.profile {
					img {
						width: 55px;
						height: 55px;
						border-radius: 50%;
						margin-right: 10px;
					}
				}
				input {
					width: 80%;
					height: 50px;
					border: 1px solid #000;
					outline: none;
					padding: 0 10px;
				}
			}
			.comments {
				.comment {
					width: 100%;
					display: flex;
					align-items: center;
					margin-bottom: 25px;
					.profile {
						img {
							width: 55px;
							height: 55px;
							border-radius: 50%;
							margin-right: 10px;
						}
					}
					.text {
						span {
							a {
								color: #3810db;
							}
						}
						p {
							font-size: 0.9rem;
						}
					}
				}
				button {
					border: none;
					outline: none;
					color: #8f77f1;
					font-size: 0.8rem;
					text-transform: capitalize;
					font-weight: 500;
					margin: 0 auto;
					padding: 5px;
					border-radius: 5px;
				}
			}
		}
	}
}
#hidden_comment {
	display: none;
}
